body{
    margin: 0;
    padding: 25px;
    background-color: #000;
    color: #fff;
}

#title{
    font-size: 75px;
    text-align: center;
}

#input{
    display: flex;
    justify-content: center;
}

#task-input{
    width: 300px;
    height: 35px;
    text-align: center;
    outline: none;
    font-size: 20px;
    border-radius: 25px 0 0 25px;
    border: none;
}

#add-task-btn{
    width: 100px;
    font-size: 15px;
    background-color: #dfdfdf;
    border-radius: 0 25px 25px 0;
    border: none;
}

#space{
    height: 50px;
}

#task-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-task{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 700px;
    font-size: 25px;
    margin: 10px;
}

#new-task-cbox{
    width: 25px;
}

#task-text{
    font-size: 25px;
}

#remove-task-btn{
    border: none;
    width: 30px;
    font-size: 20px;
    margin-left: 10px;
}