:root{
    --bg: #000814;
    --prim: #001d3d;
    --sec: #003566;
    --primtxt: #f1f1f1;
    --sectxt: #a1a1a1;
}

body{
    margin: 0;
    padding: 25px;
    background-color: var(--bg);
    color: var(--primtxt);
}

#title{
    font-size: 75px;
    text-align: center;
    cursor: default;
}

#input{
    display: flex;
    justify-content: center;
}

#task-input{
    width: 350px;
    height: 35px;
    text-align: left;
    padding-left: 15px;
    outline: none;
    font-size: 20px;
    border-radius: 25px 0 0 25px;
    border: none;

}

#add-task-button{
    width: 100px;
    font-size: 15px;
    background-color: var(--prim);
    color: var(--primtxt);
    border-radius: 0 25px 25px 0;
    border: none;
}

#add-task-button:hover{
    background-color: var(--sec);
}

#space{
    height: 50px;
}

#tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    max-width: 1500px;
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    background-color: var(--prim);
}

.task:hover{
    background-color: var(--sec);
}

.task-checkbox{
    width: 25px;
    border-radius: 50px;
    margin-left: 0;
    margin-right: 10px;
}

.task-content{
    font-size: 25px;
    cursor: default;
}

.remove-task-button{
    border: none;
    background: none;
    width: 30px;
    background-image: url(assets/icons/close.svg);
    background-size: cover;
    background-position: center;
    margin-left: auto;
    cursor: pointer;
}

.completed-task{
    text-decoration: line-through;
    color: var(--sectxt);
}